/* reset */
a {
    color: inherit;
    text-decoration: none;
  }
  
input, button {
    background: none;
    outline: none;
    border: none;
  }



.wrapper{
  position: relative;
  height: 100vh;
}



  /* ----------------------여기서부터 중앙 로그인 창-------------------------- */





  /* ----------------------여기서부터 좌측 사용자정보-------------------------- */







  /* ----------------------여기서부터 우측 사이드바-------------------------- */
.nav{
  font-size: 24px;
  text-align: center;
  
  border-radius: 10px;
  width: 250px;
  height: 150px;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translate(0, -50%);
  
  background: #fcd8d4;
}

aside.nav{
  margin: 10px auto 10px;
  height:140px
  
}
button.time-stamp{
  font-size: 24px;
}

i.fa-regular{
  display: none;
}


div.dropdown-content>div{
  display: none;
  height: 500px;
}

button.time-stamp{
  display: block;
  border-radius: 30px 30px 0 0;
  cursor:pointer;
  text-align: center;
  margin: 10px auto;
}
button.time-stamp:hover{
  
  cursor:pointer;
}

div.dropdown-content:hover{
  background: white;
  border-radius: 30px 30px 0 0;
  width: 80%;
  height: 100%;
  display: block;
  cursor:pointer;
  margin: 0 auto;
  margin-bottom: 10px;
}

div.dropdown-content:hover *{
  background: white;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 52px;
  display: block;
  cursor:pointer;
}

div.dropdown-content:hover i.fa-regular{
  
}