/* reset */
a {
    color: inherit;
    text-decoration: none;
  }
  
input, button {
    background: none;
    outline: none;
    border: none;
  }



.wrapper{
  position: relative;
  height: 100vh;
}

















  /* ----------------------여기서부터 사이드바-------------------------- */
.nav{
  width: 250px;
  height: 150px;
  position: absolute;
  right: 20%;
  top: 50%;
  background: orange;
  transform: translate(0, -50%);
}
