/* reset */
a {
    color: inherit;
    text-decoration: none;
  }
  
  input,
  button {
    background: none;
    outline: none;
    border: none;
  }


  .clearfix::after{
    content:"";
    clear:both;
    display: block;
  }

  
  /* layout  */

 .wrapper {

    height: 100vh;
    width: 100%;
    position: relative;
    background: url(
      "https://blog.kakaocdn.net/dn/bxK1st/btrK4E43hth/QFqoQO2RTw3uwKzjdR17U1/02-%EA%B0%88%EB%8C%80-A-2022%EB%85%8410%EC%9B%94-%EB%8B%AC%EB%A0%A5%EB%B0%B0%EA%B2%BD%ED%99%94%EB%A9%B4.png?attach=1&knm=img.png"
    ) no-repeat  center / cover ; 
    
    font-size: 18px;
    color: #000;
    


  }

  .wrapper .main{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }



  /* 로그인 창 */

 .wrapper .loginSection{

  width: 40%;
  height: 80%;
  border-radius: 30px;
  background: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTAzMjFfMjUg%2FMDAxNTUzMTgwMjU3NTY2.B8Uih9H4n5ANGGuqhPnsnq7i9kOiNksFLp6D_1kNdwgg.E2ORZTulPsW9RlT9krvYIPPjo6GN020w1yBXSpkGIl0g.PNG.tkfrn3345%2F%25BD%25BD%25B1%25E2%25B7%25CE%25BF%25EE_%25C6%25D0%25B5%25E5%25BB%25FD%25C8%25B0_%25B1%25C2%25B3%25EB%25C6%25AE_%25C7%25A5%25C1%25F6_%25B4%25D9%25C0%25CC%25BE%25EE%25B8%25AE_%25BD%25C9%25C7%25C3%252B%25C0%25CC%25B9%25CC%25C1%25F6_PPT.002.png&type=sc960_832")
    no-repeat center / 100% 100%;

    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;

  /* display: none; */


}

.wrapper .loginSection #login{

  background: #fff;
  width: 50%;
  height: 20%;

  border-radius: 40px;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);


}

.wrapper .loginSection .loginButton{

  background: #fff;
  height: 20%;
  width: 15%;

  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, 0%);

  border-radius: 40px;
}

#loginBtn{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  cursor: pointer;
  
}



.loginBlock{
  width: 70%;
  margin: 25px 15px 0px 30px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  position: relative;

}

.loginIcon{
  /* background: orange; */
  width: 15%;
  float: left;

}

.wrapper .loginSection #login .idBlock{



  

}

.wrapper .loginSection #login .idBlock .idIcon{


}

.wrapper .loginSection #login  input{
  /* background: skyblue; */
  width: 75%;
  float:left;
  margin-left: 5%;
  line-height: 1.2em;
  position: absolute;
  top: 15px;
  font-size: 16px;



}

.wrapper .loginSection #login .pwBlock{

}
.wrapper .loginSection #login .pwBlock .pwIcon{

}


/* 텍스트 페이지 */

.wrapper .page{

  width: 40%;
  height: 80%;
  border-radius: 30px;

  background: url(https://i.pinimg.com/564x/b0/22/6c/b0226cec295531265c23976654b3e709.jpg)
    no-repeat center/ 150% 150%;




  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;



}



.wrapper .page #textContent{

  border: 2px solid #000;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 0 30px;

  font-size: 18px;
  line-height: 1.225em;

  overflow: auto;
  resize: none;
  box-sizing: border-box;

  overflow: hidden; 


 

}

.wrapper .page #textContent h1{

  /* background: orange; */
  
  margin: 10px 0 15px;
  
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3em;

}



.wrapper #pageNum{

  /* background: green; */

  position: absolute; 
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  font-weight: 700;


}

/* 페이지 버튼 */

.wrapper .pageBtn button{

  font-size: 20px;
  font-weight: 700;
  
}

 .wrapper .pageBtn .prev-page{
  
  position: absolute;
  top: 50%;
  left: 30%;
  cursor: pointer;
}

 .wrapper .pageBtn .next-page{
  position: absolute;
  top: 50%;
  right: 30%;
  cursor: pointer;
  
}








  